{
  "presets": [
    ["@babel/env", {
      "loose":false,
      "modules": false
    }]
  ],
  "plugins": [
    [
      "@babel/transform-runtime",
      {
        "helpers": false,
        "useESModules": true
      }
    ]]
    
}